*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;    

}

#header{
    width: 100%;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;    

    background-size: cover;
    background-position:cover;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo1 {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.logo1:hover {
    transform: scale(1.1); /* Scale up the logo on hover */
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 18px;
}
.header-text h1 span{
    color: #ff004f;
}
/* Social Media Icon Styles */
.logo2 .logos {
    width: 30px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; 
}

.logo2 .logos:hover {
    transform: scale(1.5); 
}
.logos:hover {
    filter: brightness(1.5); 
}
h2{
    font-size: 50px;
    color:lightsalmon;
    font-family: 'poppins',sans-serif;
}
p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 30px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.log.h3{
    font-family: 'Courier New', Courier, monospace;
}
.bt a {
    width:fit-content;
    right: 10px;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    background-color: #3498db;
    padding: 20px 15px;
    border-radius: 5px;
    color: #3498db;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: background-color 0.3s ease;
    animation: move 2s infinite;
   }
   
   .bt a img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
   }
   
   .bt a span {
    color: #1c2323;
    font-family: Arial, sans-serif;
   }


