*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;    

}

#header{
    width: 100%;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;    

    background-size: cover;
    background-position:cover;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo1 {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.logo1:hover {
    transform: scale(1.1); /* Scale up the logo on hover */
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 18px;
}
.header-text h1 span{
    color: #ff004f;
}
/* Social Media Icon Styles */
.logo2 .logos {
    width: 30px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; 
}

.logo2 .logos:hover {
    transform: scale(1.5); 
}
.logos:hover {
    filter: brightness(1.5); 
}
h2{
    font-size: 50px;
    color:lightsalmon;
    font-family: 'poppins',sans-serif;
}
p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 30px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.log.h3{
    font-family: 'Courier New', Courier, monospace;
}
.dow{
    display:inline-block;
    padding: 25px 20px;
    font: optional;
    font-variant:normal;
    text-align: center;
    text-decoration:solid;
    cursor: pointer;
    border: 10px solid #3498db; /* Default border color */
    color: #272a2d; /* Default font color */
    border-radius: 100px;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    bottom: 5px; 
      
}
.dow:hover{
    background-color: #3498db; /* Hover background color */
    color: #d8caca; /* Hover font color */
}
.dow:active{
    background-color: #2c3e50; /* Active background color */
    border-color: #2c3e50;
    color: #ffffff; /* Active font color */
}
.dow span{
    font-size: 25px;
    text-align: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 25px 20px;
    text-decoration: solid;
    
}  
